body {
  margin: 0;
  font-family: 'Sofia Sans Condensed';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.logo {
  width: 300px;
  height: auto;
  color: olivedrab;
  margin: 15px;
}